@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-title: #000
  --color-header1: #b9b2b2;
  --color-header2: #ffffff;
  --background-primary: #ffffff;
  --background-header: #003468;
  --box-shadow-main: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

a{
  color: var(--color-title);
}

.container {
  max-width: 95%;
  margin: auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 25% auto;
  background-color: rgb(250, 247, 247);
}

.aside-body {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background-color: var(--background-primary);
  box-shadow: var(--box-shadow-main);
}

.aside-logo {
  text-align: center;
  margin-bottom: 12px;
}

.aside-logo img {
  width: 50%;
  object-fit: cover;
}

.aside-list {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 90vh;
  padding: 0 15px;
}

.aside-list::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.aside-list::-webkit-scrollbar-track {
  background: #687cfe;
}

.aside-list::-webkit-scrollbar-thumb {
  background: #cac9c9;
  border-radius: 6px;
}

.aside-list :is(.box-nav-topic1, .box-nav-topic2) {
  margin: 10px 0;
}

.aside-list :is(.box-nav-topic1, .box-nav-topic2) h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px 0;
}

.aside-list :is(.box-nav-topic1, .box-nav-topic2) .item-nav-aside {
  font-size: 16px;
  padding: 15px 0;
  cursor: pointer;
}

.item-nav-aside p {
  display: flex;
  gap: 14px;
}

.aside-list .box-nav-topic2 {
  line-height: 20px;
}

.box-nav-topic2 .item-nav-aside {
  padding-right: 15px;
}

.box-nav-topic2 .item-nav-aside .title-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

.dropdow-child {
  height: 0;
  opacity: 0;
  visibility: hidden;
  margin-top: 10px;
}

.dropdow-child .dropdown-child-list li a {
  display: block;
  padding: 10px 0 10px 25px;
  color: black;
  position: relative;
}

.dropdow-child .dropdown-child-list li a::after {
  content: "";
  width: 9px;
  background-color: #687cfe;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -3%);
}

.dropdown-child-list li a:hover {
  color: #687cfe;
}

.item-nav-aside.active {
  color: #687cfe;
  font-weight: 600;
  transition: 0.2s ease;
}

.item-nav-aside.active .title-child .fa-angle-right {
  transform: rotate(90deg);
  transition: 0.5s ease;
}

.item-nav-aside.active .dropdow-child {
  opacity: 1;
  height: 100%;
  transition: 0.5s ease-in;
  visibility: visible;
  font-weight: 500;
}

.header-body {
  background-color: var(--background-header);
  box-shadow: var(--box-shadow-main);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header-body form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-body form :is(input, button) {
  height: 40px;
  outline: none;
  border: 1px solid #b9b2b2;
  padding: 0 20px;
}

.header-body form input {
  width: 350px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
}

.header-body form button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  background-color: var(--background-primary);
  transition: 0.5s ease;
}

.header-body form button:hover {
  background-color: #687cfe;
  color: var(--background-primary);
}

.header-user {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 20px;
  width: 300px;
  height: 100%;
  justify-content: space-between;
  color: var(--background-primary);
}

.header-user .icon-item {
  display: flex;
  margin-right: 20px;
  gap: 30px;
}

.user-item {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-item .main-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-item p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
}

.tab-component-user {
  position: absolute;
  bottom: -160%;
  left: 0;
  background-color: var(--background-primary);
  width: 100%;
  box-shadow: var(--box-shadow-main);
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transform-origin: top;
  transition: 0.5s ease;
}

.tab-component-user .list-component-user li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px solid #b9b2b2;
  transition: 0.5s ease-in;
  color: #706666;
}

.tab-component-user .list-component-user li a {
  font-size: 18px;
  transition: 0.3s ease;
  color: #706666;
}

.user-item:hover .tab-component-user {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.tab-component-user .list-component-user li:nth-child(2):hover,
.list-component-user li:nth-child(2):hover a {
  background-color: #ff3030;
  color: #fff;
}

main h1 {
  text-align: left;
  color: #000000;
  margin: 23px 0;
  font-size: 30px;
}

.errors-text{
  padding: 20px 0 0;
  color: #ff1717;
  font-size: 14px;
  font-weight: bold;
}

.main-content form{
  background-color: var(--background-primary);
  box-shadow: var(--box-shadow-main);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2,48%);
  grid-template-rows: repeat(6,auto);
  gap: 0 4%;
}

.main-content form .heading-item{
  padding: 12px 0;
  font-size: 17px;
  font-weight: 600;
  color: var(--background-header);
}

.main-content form :is(input[type="text"],input[type="number"],select) {
  height: 40px;
  outline: none;
  border: 1px solid #d5d1d1;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
}

.main-content form :is(input[type="text"],input[type="number"],select,textarea):focus {
  outline: 2px solid #1d39ef;
}

.option-sale {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  gap: 30px;
  margin-top: 10px;
}

.option-sale input[type="radio"] {
  display: none;
}

.option-sale label {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.option-sale label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.option-sale input[type="radio"]:checked + label:before {
  background-color: #0fd008;
  color: #fff;
  content: "✔";
  top: 0;
  width: 15px;
  height: 15px;
  padding: 2px;
}

.option-sale input[type="radio"]:checked + label {
  background-color: #002c84;
  color: #fff;
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.main-content form input[type="file"] {
  /* padding: 10px; */
  background-color: var(--background-primary);
  width: 100%;
  border: 1px solid #d5d1d1;
  border-radius: 10px;
  border-radius: 10px;
  position: relative;
  height: 40px;
}

.main-content form .item-form #img-show{
  width: 200px;
  object-fit: cover;
  display: inline-block;
  margin: 10px 8px 20px;
  box-shadow: var(--box-shadow-main);
}

.main-content form input[type="file"]::-webkit-file-upload-button{
  height: 100%;
  background-color: #003468;
  color: var(--background-primary);
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.main-content form input[type="file"]::-webkit-file-upload-button:active{
  transform: scale(0.20);
}

.main-content form .btn-form{
  grid-row: 6/7;
  grid-row-start: 6;
  grid-row-end: 7;
  width: max-content;
  margin-top: 20px;
}

.main-content form .btn-form a{
  display: inline-block;
  padding: 14px 20px;
  background-color: var(--background-header);
  color: var(--background-primary);
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s ease-in;
}

.main-content form .btn-form a:active{
  transform: scale(0.20);
}


.main-content form .item-form:nth-child(8){
  grid-row: 5/6;
  grid-column: 1/3;
  width: 100%;
}

.main-content form .item-form:nth-child(8) textarea{
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  resize: none;
}

.main-content form .btn-form button{
  padding: 10px 14px;
  background-color: var(--background-header);
  color: var(--background-primary);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

footer .body{
  background-color: var(--background-primary);
  height: 50px;
  box-shadow: var(--box-shadow-main);
  margin: 20px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #706666;
}