/* From Uiverse.io by Yaya12085 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* From Uiverse.io by Yaya12085 */
.option-sale {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.option-sale input[type="radio"] {
  display: none;
}

.option-sale label {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.option-sale label:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #0fd008;
  transition: all 0.3s ease-in-out;
}

.option-sale input[type="radio"]:checked + label:before {
  left: 0;
}

.option-sale #default:checked + label:before {
  content: "Mặc Định";
}

.option-sale input[type="radio"]:checked + label {
  background-color: #002c84;
  color: #fff;
}
